/* gradient_light= #80e0dc   */

/* gradient_dark= #18b9e2   */

/* accent blue = #29abe2 */

/* white = #ffffff */

/* light black = rgb(58, 76, 87)  */

/* black = rgb(33, 37, 41)  */

/* Fix Navabr Collapse Class styling Issue with Tailwind */
.collapse {
  visibility: unset !important;
}
body {
  font-family: Montserrat, sans-serif !important;
}
.title-container {
  text-align: left;
  box-sizing: border-box;
  font-family: "BlackPearl", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.jobs-filters-container {
  border-radius: 1.56rem;

  box-shadow: 0 6px 26px 10px #8888882e;
}

.lastModifiedInner {
  --rem: 16;

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);

  --border-color: rgb(218, 221, 224);

  font-family: Verdana, sans-serif;

  display: flex;

  border: 1px solid var(--border-color);

  background: #fff;

  min-height: 2.15rem;

  width: 100%;

  min-width: 14rem;

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  border-radius: 0.375rem;

  color: #e2ebf0;

  padding: 0.5rem;

  box-sizing: border-box;
}
.grid-listing-row,
.quick-apply-container {
  padding: 2.5rem;

  background: #fff;

  border: 1px solid transparent !important;

  box-shadow: 0 40px 50px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.05);

  cursor: pointer;

  transition: box-shadow 0.2s ease-in-out;

  z-index: 1;

  list-style: none;

  color: rgb(33, 37, 41);

  border-radius: 1.5625rem;

  margin-bottom: 1.25rem !important;
}
.quick-apply-container-fixed {
  bottom: 0;
  /* max-width: inherit !important; */
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 100px;
  /* width: inherit !important;  */
  z-index: 999999;
  box-sizing: border-box;
  margin-right: 10px;
}
.quick-apply-container::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
  scroll-behavior: smooth;
}

.quick-apply-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.quick-apply-container::-webkit-scrollbar-thumb {
  background: linear-gradient(#18b9e2, #80e0dc);
  border-radius: 10px;
}
.grid-listing-row:hover {
  border: 1px solid #b3b3b3 !important;
}

.grid-listing-row.current-selected-row {
  background-image: linear-gradient(90deg, #18b9e2 0, #80e0dc);

  background-repeat: repeat-x;

  border: 1px solid #b3b3b3 !important;

  color: white;
}

.accent-text {
  color: #18b9e2 !important;
}
.gradient-text {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#18b9e2),
    to(#80e0dc)
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}
.btn-gradient {
  background-image: linear-gradient(90deg, #18b9e2 0, #80e0dc) !important;
  background-repeat: repeat-x !important;
  color: #fff !important;
}
.btn-gradient:hover {
  background-image: linear-gradient(90deg, #80e0dc 0, #18b9e2) !important;
}
.highlight {
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 100%;
  display: none;
  filter: blur(1.5625rem);
  height: 2rem;
  margin-left: -3.125rem;
  margin-top: -3.125rem;
  position: absolute;
  transform: translateZ(0);
  width: 6.25rem;
}
.quick-apply-submit-button span {
  display: block;
  margin: 0 auto;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: #80e0dc;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Quick Apply Form  */
.quick-apply-form-text-field {
  background-color: #fff;
  border: 2.5px solid #c8cbd0;
  border-radius: 1.5rem;
  color: #000;
  font-size: 0.9rem;
  padding: 0.75rem;
}
.quick-apply-form-select-field {
  background-color: #fff;
  border: 2.5px solid #c8cbd0;
  border-radius: 1.5rem;
  color: #000;
  font-size: 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.75rem !important;
}
.custom-file-input {
  height: 3.125rem;
  position: relative;
  width: 100%;
}
.quick-apply-resume-field-remove-button {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  z-index: 9999;
}
.lnr {
  font-family: Linearicons-Free;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-variant-position: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quick-apply-form-terms {
  font-size: 0.75rem;
  line-height: 1rem;
}
.custom-file-label {
  content: "+";
  font-size: 1.125rem;
  font-weight: 700;
  margin-right: 0.9375rem;
}
.lnr-cross-circle:before {
  content: "\e880";
}

.hr-job-detail-page {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid #e6e7eb;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
#last-modified {
  background-color: #fff !important;
}
